@page "/module1"
@using Freestyle.Bladezor.Shared
@inject HttpClient Http

<section class="pf-c-page__main-section pf-m-light">
	<Content>
		<h1>Module Homepage</h1>

		<p>This is the homepage for a module. You would normally either include signposts here, or redirect to a default blade stack.</p>
	</Content>
</section>